services:

  portainer_agent:
    image: portainer/agent:2.35.0
    container_name: portainer_agent
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
      - /:/host
    ports:
      - "9001:9001"

networks:
  default:
    driver: bridge
